/* Global */
*, *::before, *::after {
    box-sizing: border-box; }
  
 p {
    margin: 0; }

  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px; }
  
  body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 25px;
    line-height: 1.7;
    font-family: "moon dance", cursive; }
   .intro {
        background: #color-light; }
    .splash {
            height: 70vh;
            position: relative;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed; }
                